@charset "UTF-8";
@font-face {
font-family: "Conv_DigitalNumbers-Regular";
src: url("../../fonts/DigitalNumbers-Regular.woff") format('woff');
font-weight: normal;
font-style: normal;
}

body {
  font-family: "Conv_DigitalNumbers-Regular";
  background: #e5e5e5;
}

.wrapper {
  width: 660px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
}

.clock__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50%;
}

.clock__item {
  width: 191px;
  height: 191px;
  background: #dfdfdf;
  -webkit-box-shadow: 9px 9px 16px rgba(167, 167, 167, 0.5), -9px -9px 16px rgba(255, 255, 255, 0.664);
          box-shadow: 9px 9px 16px rgba(167, 167, 167, 0.5), -9px -9px 16px rgba(255, 255, 255, 0.664);
  border-radius: 26px;
  margin-left: 43px;
  font-size: 90px;
  line-height: 180px;
  text-align: center;
  color: #43424a;
}

.clock__item:first-child {
  margin-left: 0;
}

@media (max-width: 426px) {
  .wrapper {
    width: 330px;
    margin: 0 auto;
    padding: 0 25px 0 25px;
  }
  .clock__item {
    width: 80px;
    height: 80px;
    background: #dfdfdf;
    -webkit-box-shadow: 4px 4px 8px rgba(167, 167, 167, 0.5), -4px -4px 8px rgba(255, 255, 255, 0.664);
    box-shadow: 4px 4px 8px rgba(167, 167, 167, 0.5), -4px -4px 8px rgba(255, 255, 255, 0.664);
    border-radius: 13px;
    margin-left: 21px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #43424a;
  }
  .clock__item:first-child {
    margin-left: 0;
  }
  .clock__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50%;
  }
}
